/*
Main
*/
html {
	--text: #FFF;
	background: #001220;
	scroll-behavior: smooth;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

a {
	text-decoration: none;
	color: var(--text);
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
Navigation
*/

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 1.5rem;
}

nav {
	width: 100%;
	background-color: rgba(76, 76, 76, 0.36);
	color: black;
	padding: 10px 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
	border-radius: 5rem;
	backdrop-filter: blur(4px);
}

nav ul {
	list-style: none;
	display: flex;
  justify-content: space-between;
	width: 80%;
	li {
		font-weight: bold;
	}
}

