/*
Main
*/
html {
  --text: #fff;
  background: #001220;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  cursor:pointer;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 3;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: 40;
}

/*
Navigation
*/

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 70;
  padding: 1.5rem;
}

nav {
  width: 100%;
  background-color: rgba(76, 76, 76, 0.36);
  color: black;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 5rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-transform: uppercase;
  li {
    font-weight: bold;
    padding: 3.7px;
    border-radius: 5rem;
  }
  :hover {
    background-color: #029dbb;
  }
}

.circular-button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 5rem;
  background-color: #243b55;
  color: white;
  border: none;
  cursor: pointer;
  backdrop-filter: blur(4px);
  text-transform: uppercase;
}

.circular-button:hover {
  background-color: #029dbb;
  backdrop-filter: blur(4px);
}
/*
To-Do List Collection
*/
#todocollection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  z-index:5;
}

#todocollection h2 {
  color: #000000;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#todocollection p.subtitle {
  color: #5e5e5e;
  font-size: 1em;
  margin-top: 0;
  letter-spacing: 1px;
  font-weight: lighter;
  text-transform: uppercase;
}

#todocollection-header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}


.todolist-items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.todo-item {
  background-color: #ffffff;
  width: 360px;
  height: 240px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 4px;
}

.todo-item h3 {
  margin: 10px 0;
}

.todo-item p {
  flex-grow: 1;
  margin: 10px 0;
}

.moreToDo {
  align-self: center;
  padding: 10px 20px;
  background-color: #029dbb;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  transition: top 0.1s, box-shadow 0.1s; 
  position: relative;
}

.moreToDo:hover {
  background-color: #027b9b;
}

.moreToDo:active {
  top: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/*
To-Do-Maker
*/
#newTodoButton {
  background-color: #28a745; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  top: 100px;
  position: relative;
  transition: top 0.1s, box-shadow 0.1s;
}

#newTodoButton:hover {
  background-color: rgb(30, 120, 45);
}

#newTodoButton:active {
  top: 102px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/*
To-Do itself
*/
.todolist-field {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  max-width: 500px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 50;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.popup-header {
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.todo-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}


/*
Login Panel
*/
.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 45;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a#login {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box form a#cancel {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: RED;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  margin-left: 60px;
  letter-spacing: 4px;
}

.login-box a#login:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a#cancel:hover {
  background: red;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.login-box a#cancel span:nth-child(1) {
  background: linear-gradient(90deg, transparent, red);
  animation: btn-anim1-red 1s linear infinite;
}

.login-box a#cancel span:nth-child(2) {
  background: linear-gradient(180deg, transparent, red);
  animation: btn-anim2-red 1s linear infinite;
  animation-delay: 0.25s;
}

.login-box a#cancel span:nth-child(3) {
  background: linear-gradient(270deg, transparent, red);
  animation: btn-anim3-red 1s linear infinite;
  animation-delay: 0.5s;
}

.login-box a#cancel span:nth-child(4) {
  background: linear-gradient(360deg, transparent, red);
  animation: btn-anim4-red 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim1-red {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2-red {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3-red {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4-red {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.error-message {
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -5px;
  display: block;
}
