/* Main */
html {
  --text: #fff;
  background: #001220;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: 40;
}

footer {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem;
}

/*
Sections
*/
.abouts h1 {
  color:white;
}
.abouts p {
  color:white;
}

.section-part {
  height: calc(100vh - 80px);
  background: linear-gradient(#141e30, #243b55);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(#141e30, #243b55);
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  z-index: 5;
}

.section-header h2 {
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Navigation */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 70;
  padding: 1.5rem;
}

nav {
  width: 100%;
  background-color: rgba(76, 76, 76, 0.36);
  color: black;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 5rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-transform: uppercase;
}

nav li {
  font-weight: bold;
  padding: 3.7px;
  border-radius: 5rem;
}

nav li:hover {
  background-color: #029dbb;
}

.circular-button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 5rem;
  background-color: #243b55;
  color: white;
  border: none;
  cursor: pointer;
  backdrop-filter: blur(4px);
  text-transform: uppercase;
}

.circular-button:hover {
  background-color: #029dbb;
  backdrop-filter: blur(4px);
}

/* Login Panel */
.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 45;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

/* User Input Boxes */
.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

/* Login and Cancel Button Styles */
.login-box form a#login,
.login-box form a#cancel {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box form a#cancel {
  color: red;
  margin-left: 60px;
}

.login-box a#login:hover,
.login-box a#cancel:hover {
  color: #fff;
  border-radius: 5px;
}

.login-box a#login:hover {
  background: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a#cancel:hover {
  background: red;
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
}

/* Button Animations */
.login-box a span {
  position: absolute;
  display: block;
}

/* Login Button Animations */
.login-box a#login span:nth-child(1) {
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

.login-box a#login span:nth-child(2) {
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

.login-box a#login span:nth-child(3) {
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

.login-box a#login span:nth-child(4) {
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

/* Cancel Button Animations */
.login-box a#cancel span:nth-child(1) {
  background: linear-gradient(90deg, transparent, red);
  animation: btn-anim1-red 1s linear infinite;
}

.login-box a#cancel span:nth-child(2) {
  background: linear-gradient(180deg, transparent, red);
  animation: btn-anim2-red 1s linear infinite;
  animation-delay: 0.25s;
}

.login-box a#cancel span:nth-child(3) {
  background: linear-gradient(270deg, transparent, red);
  animation: btn-anim3-red 1s linear infinite;
  animation-delay: 0.5s;
}

.login-box a#cancel span:nth-child(4) {
  background: linear-gradient(360deg, transparent, red);
  animation: btn-anim4-red 1s linear infinite;
  animation-delay: 0.75s;
}

/* Error Message */
.error-message {
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -5px;
  display: block;
}

/*
Footer & Socials
*/
.content-footer {
  margin-top: 5em;
  padding: 4em 0;
  background-color: #243b55;
}

.content-footer > p {
  color: white;
}

.social {
  padding: 0;
  list-style: none;
}
a.socials > li {
  font: bold;
  color: #029dbb;
}

.social > li {
  display: inline-block;
  margin-right: 1em;
}
